In [65]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Pandas options
pd.set_option('display.max_colwidth', 1000, 'display.max_rows', None, 'display.max_columns', None)

# Plotting options
%matplotlib inline
mpl.style.use('ggplot')
sns.set(style='whitegrid')

In [54]:
acceptedloans=pd.read_csv('acceptedloans.csv')

In [55]:
acceptedloans.shape

(2260701, 151)

In [20]:
acceptedloans.loc[acceptedloans['loan_amnt']==acceptedloans['funded_amnt']].shape

(2258603, 151)

In [24]:
acceptedloans.loc[acceptedloans['loan_amnt']!=acceptedloans['funded_amnt']]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528961,Total amount funded in policy code 1: 1741781700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528962,Total amount funded in policy code 2: 564202131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651664,Total amount funded in policy code 1: 1791201400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651665,Total amount funded in policy code 2: 651669342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684043,80749289,NaN,18000.0,10000.0,10000.000000,36 months,12.99,336.90,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
684121,79101538,NaN,20000.0,10000.0,10000.000000,36 months,7.39,310.56,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
684370,79041524,NaN,20000.0,10000.0,10000.000000,60 months,11.47,219.78,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
749520,Total amount funded in policy code 1: 1443412975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
749521,Total amount funded in policy code 2: 511988838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877716,Total amount funded in policy code 1: 2063142975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877717,Total amount funded in policy code 2: 823319310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983169,Total amount funded in policy code 1: 1538432075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983170,Total amount funded in policy code 2: 608903141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117058,Total amount funded in policy code 1: 2087217200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117059,Total amount funded in policy code 2: 662815446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1352689,Total amount funded in policy code 1: 3503840175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1352690,Total amount funded in policy code 2: 873652739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481103,Total amount funded in policy code 1: 2050909275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481104,Total amount funded in policy code 2: 820109297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611877,Total amount funded in policy code 1: 2080429200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611878,Total amount funded in policy code 2: 737901574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611940,1068934,NaN,17500.0,8950.0,8925.000000,60 months,17.27,223.74,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611945,1069093,NaN,12500.0,8925.0,8925.000000,60 months,17.27,223.11,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611949,1069043,NaN,20975.0,13575.0,13550.000000,60 months,17.58,341.63,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611956,1068416,NaN,7250.0,7200.0,7175.000000,60 months,21.67,197.51,F,F3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611959,1068994,NaN,35000.0,22075.0,22050.000000,60 months,17.27,551.84,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611975,1049528,NaN,20000.0,12800.0,12775.000000,60 months,11.71,282.86,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1612003,1068179,NaN,28000.0,11800.0,11775.000000,60 months,19.91,312.04,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939113,1074553,NaN,16000.0,11100.0,11025.000000,60 months,10.65,239.41,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939139,1074266,NaN,16000.0,10225.0,10225.000000,60 months,12.69,231.04,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939144,1074092,NaN,22000.0,14100.0,14075.000000,60 months,21.67,386.79,F,F3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939157,1074169,NaN,35000.0,21625.0,21575.000000,60 months,12.42,485.64,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939162,1074030,NaN,24000.0,14975.0,14950.000000,60 months,12.69,338.36,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939174,1073715,NaN,35000.0,22100.0,22075.000000,60 months,19.03,573.66,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939189,1073330,NaN,35000.0,16850.0,16825.000000,60 months,22.35,468.74,F,F5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939256,1071820,NaN,21000.0,8050.0,8025.000000,60 months,17.58,202.59,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939261,1072028,NaN,18000.0,15050.0,15025.000000,60 months,14.27,352.30,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939263,1072003,NaN,12800.0,8625.0,8625.000000,60 months,17.27,215.61,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939295,1050515,NaN,19250.0,15100.0,12675.004565,60 months,20.30,402.59,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939312,1069842,NaN,16000.0,10850.0,10781.464722,60 months,18.25,277.00,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939317,1031765,NaN,25000.0,4400.0,4375.000000,60 months,19.03,114.22,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939319,1067017,NaN,10400.0,6575.0,6448.105119,60 months,19.42,172.09,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939327,1068763,NaN,35000.0,21900.0,21875.000000,60 months,17.27,547.46,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939346,1067125,NaN,30000.0,8850.0,8800.000000,60 months,22.06,244.73,F,F4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939365,997758,NaN,35000.0,21775.0,20375.659759,60 months,22.74,610.60,G,G1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939366,1042487,NaN,20000.0,13675.0,6675.000000,60 months,19.91,361.62,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939368,1063649,NaN,17500.0,16800.0,16775.000000,60 months,22.74,471.10,G,G1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939369,1062754,NaN,35000.0,22550.0,22550.000000,60 months,14.27,527.87,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939372,1062334,NaN,20000.0,12675.0,12675.000000,60 months,14.27,296.71,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939378,1058291,NaN,12000.0,7775.0,7775.000000,60 months,15.27,186.08,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1939379,Total amount funded in policy code 1: 2700702175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939380,Total amount funded in policy code 2: 81866225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2038501,Total amount funded in policy code 1: 1404586950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2038502,Total amount funded in policy code 2: 567447023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157151,Total amount funded in policy code 1: 1817354125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157152,Total amount funded in policy code 2: 620899600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
acceptedloans.loc[acceptedloans['loan_amnt']==acceptedloans['funded_amnt_inv']].shape

(2109167, 151)

In [29]:
acceptedloans.loc[acceptedloans['funded_amnt']==acceptedloans['funded_amnt_inv']].shape

(2109557, 151)

In [ ]:
acceptedloans.loc[acceptedloans['loan_amnt']!=acceptedloans['funded_amnt']]

In [7]:
acceptedloans.shape

(2260701, 151)

In [8]:
rejectedloans=pd.read_csv('rejectedloans.csv')

In [33]:
rejectedloans.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [10]:
rejectedloans.shape

(27648741, 9)

In [30]:
acceptedloans_coulmns = acceptedloans.columns.tolist()

In [80]:
acceptedloans_coulmns

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [47]:
acceptedloans['int_rate'].describe()

count    2.260668e+06
mean     1.309283e+01
std      4.832138e+00
min      5.310000e+00
25%      9.490000e+00
50%      1.262000e+01
75%      1.599000e+01
max      3.099000e+01
Name: int_rate, dtype: float64

In [62]:
acceptedloans['int_rate'].describe()

count    2.260668e+06
mean     1.309283e+01
std      4.832138e+00
min      5.310000e+00
25%      9.490000e+00
50%      1.262000e+01
75%      1.599000e+01
max      3.099000e+01
Name: int_rate, dtype: float64

In [48]:
acceptedloans['issue_d'].describe()

count      2260668
unique         139
top       Mar-2016
freq         61992
Name: issue_d, dtype: object

In [64]:
acceptedloans['installment'].describe()

count    2.260668e+06
mean     4.458068e+02
std      2.671735e+02
min      4.930000e+00
25%      2.516500e+02
50%      3.779900e+02
75%      5.933200e+02
max      1.719830e+03
Name: installment, dtype: float64

In [50]:
# Predicting charge off from initial data
acceptedloans['loan_status'].value_counts(dropna=False)

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
NaN                                                         33
Name: loan_status, dtype: int64

In [56]:
#Consider only completed loans. i.e., fully paid and charged off loans
acceptedloanstatus = acceptedloans.loc[acceptedloans['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [58]:
acceptedloanstatus.shape

(1345310, 151)

In [67]:
acceptedloans.groupby('loan_status')['loan_amnt'].describe()

,count,mean,std,min,25%,50%,75%,max
loan_status,,,,,,,,
Charged Off,268559.0,15565.055444,8814.560077,900.0,9000.0,14350.0,20400.0,40000.0
Current,878317.0,15942.815920,9771.679047,1000.0,8400.0,14000.0,21500.0,40000.0
Default,40.0,14350.625000,10323.789256,1675.0,5875.0,10475.0,20000.0,40000.0
Does not meet the credit policy. Status:Charged Off,761.0,9527.233903,6404.598723,500.0,5000.0,7750.0,12000.0,25000.0
Does not meet the credit policy. Status:Fully Paid,1988.0,8853.231891,6163.442950,500.0,4000.0,7200.0,12000.0,25000.0
Fully Paid,1076751.0,14134.369808,8669.028973,500.0,7500.0,12000.0,20000.0,40000.0
In Grace Period,8436.0,17672.558084,9750.247681,1000.0,10000.0,16000.0,24600.0,40000.0
Late (16-30 days),4349.0,17391.118648,9987.086894,1000.0,10000.0,15000.0,24800.0,40000.0
Late (31-120 days),21467.0,16946.614571,9665.983393,1000.0,10000.0,15000.0,24000.0,40000.0

In [63]:
acceptedloanstatus['int_rate'].describe()

count    1.345310e+06
mean     1.323962e+01
std      4.768716e+00
min      5.310000e+00
25%      9.750000e+00
50%      1.274000e+01
75%      1.599000e+01
max      3.099000e+01
Name: int_rate, dtype: float64

In [68]:
acceptedloans['term'].value_counts(dropna=False)

 36 months    1609754
 60 months     650914
NaN                33
Name: term, dtype: int64

In [81]:
acceptedloans.groupby('term')['loan_status'].value_counts(dropna=False).loc[:]

term        loan_status
 36 months  Fully Paid                                             857491
            Current                                                566695
            Charged Off                                            163252
            Late (31-120 days)                                      12474
            In Grace Period                                          4834
            Late (16-30 days)                                        2545
            Does not meet the credit policy. Status:Fully Paid       1789
            Does not meet the credit policy. Status:Charged Off       649
            Default                                                    25
 60 months  Current                                                311622
            Fully Paid                                             219260
            Charged Off                                            105307
            Late (31-120 days)                                       8993
            In Grace Period                                          3602
            Late (16-30 days)                                        1804
            Does not meet the credit policy. Status:Fully Paid        199
            Does not meet the credit policy. Status:Charged Off       112
            Default                                                    15
Name: loan_status, dtype: int64

In [70]:
acceptedloans.groupby('term')['loan_status'].value_counts(dropna=False).loc[:,'Fully Paid']

term
 36 months    857491
 60 months    219260
Name: loan_status, dtype: int64

In [73]:
acceptedloanstatus.groupby('term')['loan_status'].value_counts(dropna=False).loc[:]

term        loan_status
 36 months  Fully Paid     857491
            Charged Off    163252
 60 months  Fully Paid     219260
            Charged Off    105307
Name: loan_status, dtype: int64

In [75]:
acceptedloans[['fico_range_low', 'fico_range_high']].describe()

       fico_range_low  fico_range_high
count    2.260668e+06     2.260668e+06
mean     6.985882e+02     7.025884e+02
std      3.301038e+01     3.301124e+01
min      6.100000e+02     6.140000e+02
25%      6.750000e+02     6.790000e+02
50%      6.900000e+02     6.940000e+02
75%      7.150000e+02     7.190000e+02
max      8.450000e+02     8.500000e+02

In [78]:
acceptedloanstatus.groupby('loan_status')['fico_range_low'].describe()

,count,mean,std,min,25%,50%,75%,max
loan_status,,,,,,,,
Charged Off,268559.0,687.850119,25.948579,660.0,670.0,680.0,700.0,845.0
Fully Paid,1076751.0,698.263902,32.833650,625.0,675.0,690.0,715.0,845.0

In [79]:
acceptedloanstatus.groupby('loan_status')['fico_range_high'].describe()

,count,mean,std,min,25%,50%,75%,max
loan_status,,,,,,,,
Charged Off,268559.0,691.850171,25.948896,664.0,674.0,684.0,704.0,850.0
Fully Paid,1076751.0,702.264062,32.834366,629.0,679.0,694.0,719.0,850.0